stages:
  - test
  - build
  - deploy

default:
  image: registry.gitlab.com/personal1741534/mail-cleanup/ubuntu-terraform:latest

test:
  stage: test
  script:
    - mkdir testenv
    - cd testenv
    - python3 -m venv myenv
    - source myenv/bin/activate
    - pip install moto
    - pytest

build:
  stage: build
  script:
    - mkdir -p dependencies/python/python/lib/python3.13/site-packages/
    - pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib -t dependencies/python/python/lib/python3.13/site-packages/
    # check whether python sytax is valid
    - python3 -m py_compile /builds/personal1741534/mail-cleanup/src/email_cleaner_lambda/lambda_function.py
    - python3 -m py_compile /builds/personal1741534/mail-cleanup/src/email_cleaner_lambda/aws_access.py
    - python3 -m py_compile /builds/personal1741534/mail-cleanup/src/email_cleaner_lambda/gmail_api_access.py
    - python3 -m py_compile /builds/personal1741534/mail-cleanup/src/email_cleaner_lambda/__init__.py
  artifacts:
    exclude:
      - .git
      - .git/**/*
    paths:
      - /builds/personal1741534/mail-cleanup/*
    expire_in: 1h

deploy:
  stage: deploy
  script:
    - cd Terraform
    - terraform init
    - terraform apply -auto-approve
